body {
    background-color: #f0f4f8;
    margin: 20px;
    padding: 20px;
    color: #771212;
    font-family: Arial, sans-serif;
}

/* ID */
#main-heading {
    color: rgb(25, 25, 120);
    text-align: center;
}

/* Class 1 */
.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

/* Class 2 */
.nav-links a {
    color: rgb(83, 0, 100);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.nav-links a:hover {
    color: red;
}
table,
        th,
        td {
            border: 1px solid rgb(0, 26, 255);
            border-collapse: collapse;

        }